.label-status-big {
    display: flex;
    flex-direction: column;
    width: 312px;
}

.label-status-medium {
    display: flex;
    flex-direction: column;
    width: 262px;
}

.label-status-small {
    display: flex;
    flex-direction: column;
    width: 212px;
}

.label-status ul {
    flex: 1;
}

.dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    list-style: none;
}
