.draggable {
    margin-bottom: 10px;
    padding: 10px 10px;
    cursor: grab;
    border-radius: 5px;
}

.small{
    width: 150px;
}

.medium {
    width: 200px;
}

.big {
    width: 250px;
}

.draggable:active {
    cursor: grabbing;
}

.label {
    font-size: 18px;
    text-align:center;
}

